<!DOCTYPE html>
<html>
<head>
  <title>Pathfinder</title>
  <%= stylesheet_link_tag    "pathfinder/application", media: "all" %>
  <%= javascript_include_tag "pathfinder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
